@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $("#Metricas").addClass("active");
</script>

<input type="hidden" id="NumberOfFunctions" value="@ViewBag.NumberOfFunctions"/>
<input type="hidden" id="NumberOfFunctionsToAssociate" value="@ViewBag.NumberOfFunctionsToAssociate" />

<div>
    <input id="MetricId" name="MetricId" type="hidden" value="@ViewBag.MetricId" />
    <div class="pageheader">
        <h2><i class='@ViewBag.Icon'></i> @ViewBag.MetricName</h2>
        <br />
        <small>
            <a href="/admin/metricas">
                <i class="fa fa-arrow-left"></i> Voltar
            </a>
        </small>
    </div>

    <div class="main">
        <div class="row">
            <div class="col-md-12">
                <div class="tile transparent">
                    <div class="tile-body color transparent-black rounded-corners">
                        <div id="associateWorkerTypesMetric" class="table-toolbar-left">
                            <a id="demo-dt-addrow-btn" class="btn btn-default sing-up-button" href="/admin/funcaoMetrica/novaAssociacao/@ViewBag.MetricId" title="Associar função" onclick="showEntityModal(this); return false;"><i class="fa fa-plus"></i> Associar função</a>
                        </div>
                        <div class="">
                            <table id="workerTypeMetricsDataTable" class="table table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Função</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tile-footer border-top color white rounded-bottom-corners nopadding">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="entity-edit-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" />

<script src="~/Content/Js/app/workerTypeMetric.js" charset="iso-8859-1"></script>