@model  Vlast.Gamific.Model.Public.Domain.HelpEntity

@using (Ajax.BeginForm("Save", "Help", new AjaxOptions { OnSuccess = "onSuccessSaveHelp", OnFailure = "onFailureSaveHelp", UpdateTargetId = "modal-panel" }))
{
    <span style="display:none">
        @Html.HiddenFor(model => model.Id);
        @Html.HiddenFor(model => model.TopicId);
    </span>
    <div id="modal-panel">
        <div class="modal-dialog modal-xlg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Fechar" id="btn_close_modal" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="criarAjudaLabel">Criar Ajuda</h4>
                </div>
                <div class="modal-body" id="edit-modal-body">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @id = "validation-data", @class = "text-danger-summary" })
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-md-12 modal-div">
                            @Html.LabelFor(model => model.HelpTitle, "Título*:", new { @class = "col-sm-2 control-label" })
                            @Html.EditorFor(model => model.HelpTitle, new { htmlAttributes = new { @class = "form-control", @tabindex = "1" } })
                            @Html.ValidationMessageFor(model => model.HelpTitle, "O campo Título é obrigatório.", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-10 col-md-12 modal-div">
                            @Html.LabelFor(model => model.HelpContent, "Conteudo*:", new { @class = "col-sm-2 control-label" })
                            @Html.TextAreaFor(model => model.HelpContent, 1000, 1, new { @class = "content", @tabindex = "2" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
}

<script>
    loadTinyMCE();
</script>