@using Vlast.Gamific.Model.Public.DTO
@using Vlast.Gamific.Model.Firm.Domain
@model  Vlast.Gamific.Web.Controllers.Public.Model.FilterResultDTO

@using Vlast.Gamific.Web.Services.Engine.DTO

<!DOCTYPE html>
<html lang="pt-br">

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $("#Dashboard").addClass("active");
</script>

<div class="pageheader">
    <div class="row">
        <div class="col-xs-6">
            <h2><i class="fa fa-dashboard"></i> Dashboard</h2>
        </div>
        <div class="col-xs-6">
            <div class=" text-right tile-header" id="buttonFilters">
                <a id="FilterButton" class="" onclick="hideFilters()"><i class="fa fa-filter fa-2x" aria-hidden="true" style="margin-top:20px;"></i></a>
            </div>
        </div>
    </div>
    <!--<h2><i class="fa fa-dashboard"></i> Dashboard</h2>
    <div class="hidden-lg text-right tile-header">
        <a id="FilterButton" class="" onclick="hideFilters()"><i class="fa fa-filter fa-2x" aria-hidden="true"></i></a>
    </div>-->
</div>

<body class="bg-1">
    <input hidden type="text" value="@ViewBag.State" id="state"/>
    <input hidden type="text" value="@ViewBag.EpisodeId" id="EpisodeId"/>
    <input hidden type="text" value="@ViewBag.TeamId" id="TeamId"/>
    <input hidden type="text" value="@ViewBag.PlayerId" id="PlayerId"/>

    <div id="wrap">
        <div class="row">
            <!-- Conteúdo -->
            <div class="main">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        
                        <section class="tile transparent" id="Filters">
                            <div class="tile-header color transparent-black textured rounded-corners ">
                                <div class="hidden-xs">
                                    Filtros
                                    <br />
                                    <br />

                                </div>
                                
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            <div class="hidden-xs">
                                                <div class="col-xs-12">
                                                    Estado
                                                </div>
                                                <div class="col-xs-12">
                                                    <select class="chosen-select chosen-transparent form-control" id="dropDownState">
                                                        <option value="1">Ativo</option>
                                                        <option value="0">Inativo</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            <div class="">
                                                <div class="col-xs-12">
                                                    Campanha
                                                </div>
                                                <div class="col-xs-12">
                                                    <select class="chosen-select chosen-transparent form-control" id="dropDownEpisodes"></select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            <div class="">
                                                <div class="col-xs-12">
                                                    Equipe
                                                </div>
                                                <div class="col-xs-12">
                                                    <select class="chosen-select chosen-transparent form-control" id="dropDownTeams"></select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            <div class="">
                                                <div class="col-xs-12">
                                                    Funcionario
                                                </div>
                                                <div class="col-xs-12">
                                                    <select class="chosen-select chosen-transparent form-control" id="dropDownWorkers"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </section>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- cards -->

                    <div class="row cards">
                        <div class="">
                            <div id="stats" class="carousel dashboardstats col-xs-12" data-ride="carousel">
                                <div class="">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" id="div-cards">

                                    </div>
                                </div>
                                <!-- Controls -->
                                <a class="left carousel-control" href="#stats" data-slide="prev">
                                    <i class="fa fa-chevron-left fa-lg left-side"></i>
                                </a>
                                <a class="right carousel-control" href="#stats" data-slide="next" style="padding-right:25px;">
                                    <i class="fa fa-chevron-right fa-lg right-side"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- /cards -->
                </div>
            </div>

            <!-- /grafico evolucao -->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <section class="tile transparent">
                        <div class="tile-header color transparent-black textured rounded-top-corners">
                            <h1>Evolução</h1>
                            <br />
                            <h4 class="underline text-left">Comparativo de Campanhas Geral</h4>
                        </div>
                        <div class="tile-widget color transparent-black textured">
                            <div class="row">
                                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 pull-right">
                                    <div style="width: 100%; text-align: center;">
                                        <img id="chartLoading" width="50" />
                                    </div>
                                    <div id="metrics">
                                        <ul class="list-unstyled metric-menu">
                                            <li class="title">
                                                <h5>Comparativo:</h5>
                                            </li>

                                            @if (ViewBag.Metrics.Count > 0)
                                            {
                                                foreach (MetricEngineDTO metric in ViewBag.Metrics)
                                                {
                                                    <li>
                                                        <div>
                                                            <label>
                                                                <input style="width:14px !important; height:auto !important" type="checkbox" value="@metric.Id" id="chart-@metric.Id" class="checkbox-div" onclick="initializeChart(this.value, this.checked);" />

                                                                <span style="color:white; font-size:14px !important">
                                                                    @metric.Name
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                }
                                            }

                                        </ul>

                                        @if (ViewBag.Metrics.Count > 0)
                                        {
                                            <input type="checkbox" value="@ViewBag.Metrics[0].Id" hidden checked id="metricToInitialize" />
                                        }

                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9 pull-left">
                                    <div id="statistics-chart" class="chart statistics" style="height: 250px;"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>



    </div>
    <script type="text/javascript">

        $(document).ready(function () {
            dashBoardLoad($('#state').val(), $('#EpisodeId').val(), $('#TeamId').val(), $('#PlayerId').val());
            $(window).resize(function () {
                if ($('header').width() <= 768) {
                    showFilters()
                }
            });
        });

        function hideFilters() {
            if ($('#Filters').is(":visible")) {
                $('#Filters').hide();
            }
            else{
                $('#Filters').show();
            }
        }

        function showFilters() {
            if ($('#Filters').is(":hidden")) {
                $('#Filters').show();
            }
        }
    </script>
</body>
</html>

<script src="~/Content/Js/app/dashboard.js" charset="iso-8859-1"></script>